<?xml version="1.0" encoding="utf-8"?>
<config>
	<modules>
		<Vijay_Hideprice>
			<version>1.0.0</version>
		</Vijay_Hideprice>
	</modules>
	<global>
		<blocks>
			<rating>
				<rewrite>
					<entity_detailed>Vijay_Hideprice_Block_Entity_Detailed</entity_detailed>
				</rewrite>
			</rating>
			<catalog>
				<rewrite>
					<layer_view>Vijay_Hideprice_Block_Layer_View</layer_view>
				</rewrite>
			</catalog>
		</blocks>
		<helpers>
            <vijay_hideprice>
                <class>Vijay_Hideprice_Helper</class>
            </vijay_hideprice>
        </helpers>
	</global>
	<frontend>
		<layout>
			<updates>
				<vijay_hideprice>
					<file>vijay/hideprice.xml</file>
				</vijay_hideprice>
			</updates>
		</layout>
	</frontend>
	<default>
		<priceconfig>
			<module_config>
				<active>1</active>
			</module_config>
			<priceareas>
				<price>0</price>
				<addtocart>0</addtocart>
				<wc>0</wc>
				<review>0</review>
			</priceareas>
		</priceconfig>
	</default>
</config>
